<html>
	<head>
		<title>Grov - Twitter Networks, Visualized</title>
		<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}" />
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="{{url_for('static', filename='js/plugins/jquery.panzoom.min.js')}}"></script>
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
