{% extends "base.html" %}

{% block content %}
<nav>
    <div class="container">
        <h1 class="left">Grov</h1>
        {% if g.user and g.user.is_authenticated() %}
            <h1 class="right"><a href="{{url_for('logout')}}">Logout</a></h1>
        {% else %}
            <h1 class="right"><a href="{{url_for('login')}}">Sign In via Twitter</a></h1>
        {% endif %}
    </div>
    <div class="stopfloat"></div>
</nav>

<div id="cover">
    <div class="container">
    {% if g.user and g.user.is_authenticated() %}
        <h1>Hey there, @{{g.user.username}}</h1>
        <div>
            <p>Friends Saved: {{friends}}</p>
            <p>Followers Saved: {{followers}}</p>
        </div>
    {% endif %}
    </div>
</div>
<div class="stopfloat"></div>

<div class="container" id="main">
    <div>
        <h1>Grov is...</h1>
    </div>
    <div>
        <p>...a way to better understand our increasingly interconnected lives. We are not isolated when we build our personal connections on social networks like Twitter. Instead, we build complex, interwoven networks. Just as our lives overlap, so too do our social graphs.</p>

        <p>Nowhere is this more true than Syracuse University, a vibrant campus community that is by nature collaborative and connected. The networks we have built online allow us the privilege of better visualizing the way our university interacts.</p>

        <p>Grov is a simple but powerful visualization of this data. Using the D3 data visualization library and data mining with Python, Grov finds and illustrates our networks on Twitter. With each user who logs in here, the graph grows in its size, complexity, and beauty.</p>

        <p>So, check back up on the big screen, where you’ll see it all in action!</p>
    </div>
</div>
{% endblock %}
